$header-height: 60px;
$font-normal: 'D-DIN', sans-serif;
$font-bold: 'D-DIN-Bold', sans-serif;

$primary-color: #fff;
$secondary-color: #000;

$padding-xs: 0.8em;
$padding-sm: 1.2em;
$padding-md: 1.4em;
$padding-lg: 2.8em;
